/* Estilo para scroll suave y para la letra*/

html 
{
  scroll-behavior: smooth;
}

*
{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: normal;
}

/* estilo Mobile First */

body
{
    background-color: #FFCCAA !important;
    background-image: url(../img/restaurantee.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

a
{
  text-decoration: none !important;
}

header
{
    display: flex;
    flex-direction: row;
    justify-content: center; 
    background-color: transparent;
}

nav.navbar-mv
{
    position: fixed;
    z-index: 999;
}

.navbar
{
    display: flex;
    align-items: center;
}

.navbar ul
{
    display: flex;
    padding: 0;
    justify-content: space-evenly;
    align-items: center;
    width: 60vw;
    height: fit-content;
    flex-direction: column;
    background-color: #D4956A;
    left: 2rem;
    margin-top: 1.5rem;
    font-weight: bold;
}

.dropdown-menu
{
    position: absolute !important;
    top: 100%; 
    left: 1rem;
    z-index: 1050;
    box-shadow: 0 0 0 2px rgba(255, 156, 117, 0.5) !important; 
}

.navbar li
{
    display: inline;
    margin: 2%;
}

.navbar a
{
    text-decoration: none;
    color: #552200;
    font-size: 2rem;
    font-weight: bolder;
}

.navbar-toggler
{
    position: fixed;
    top: 1rem;
    left: 1rem;
    z-index: 1001;
    background-color: #804015 !important;
    border-radius: 0.5rem;
}

.navbar-toggler-icon
{
    z-index: 1;
}

.navbar-toggler:focus 
{
    outline: 2px solid #804015 !important;
    box-shadow: 0 0 0 4px rgba(122, 61, 36, 0.534) !important;
}

.spacex
{
    height: 8vh;
}

.navbar-mv
{
    display: block !important;
    width: 100%;
    background-color: none !important;
}

.navbar-pc
{
    display: none !important;
}

/* estilo de los textos*/

.banner h1, .banner h2, .products-title h1, .nosotros h2, .copyright
{
    color: #FAFAFA;
    font-weight: bolder;
    text-shadow: 0 2px 2px #D4956A;
}

.products-title h1, .banner h1
{
    font-size: 3.5rem;
}

.banner h2
{
    font-size: 1.5rem;
}

.nosotros h2
{
    font-size: 2rem;
    margin-bottom: 1rem;
}

.nosotros p
{
    text-align: justify;
    font-size: 1.3rem;
    padding: 1.5rem;
    color: #FFFFFF;
    font-weight: 500;
    text-shadow: 1px 1px 1px #552200;
}

.card-body p
{
    font-size: 1.5rem;
}

.copyright
{
    font-size: 1.2rem;
    text-shadow: 2px 1px 1px #552200;
}

/* Página inicio y nosotros */

.banner
{
    height: 60vh;
}

.nosotros
{
    height: fit-content;
    margin-bottom: 1rem;
}

.nosotros .row
{
    flex-direction: column-reverse;
}

.nosotros a img
{
    width: 4rem;
    height: 4rem;
    margin-inline: 1rem;
}

.nosotros a img:hover
{
    filter: sepia(90%);
    transform: scale(1.15);
}

#avatar img
{
    margin-bottom: 6.5rem;
    min-width: 15vw;
    max-height: 45vh;
    border-radius: 5%;
}

/* Sección productos */

.products-title
{
    min-height: 20vh;
}

.products-display
{
    margin-bottom: 2.5rem;
}

.card
{
    background-color:#552200 !important;
    padding: 2rem !important;
}

.card-body
{
    color: #FFFFFF !important;
    min-height: 35vh;
}

.card-title
{
    font-size: 1.6rem;
    font-weight: bolder;
}

.card-body img
{
    min-width: 9vw;
    max-height: 18vh;
    aspect-ratio: 1/1;
    border-radius: 50%;
    box-shadow: 0 0 3px #D4956A;
}

/* estilo del footer */

footer
{
    height: 10vh;
    margin-bottom: 1rem;
}

/*estilo para menu pc */
.navbar-pc ul
{
    margin-top: 1vh;
    flex-direction: row;
    position: fixed !important;
    width: 50vw;
    height: 10vh;
    border-radius: 1vw;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
    box-shadow: 0 0 0 4px rgba(255, 156, 117, 0.5) !important;
}


/*estilo para ordenadores y portátiles a partir de 1281px*/
@media(min-width: 1281px)
{
    .navbar-mv
    {
        display: none !important;
    }
    .navbar-pc
    {
        display: block !important;
    }

    .card-title
    {
        font-size: 2rem;
    }

    .banner h1
    {
        font-size: 7rem;
    }

    .banner h2
    {
        font-size: 3rem;
    }

    .products-title h1
    {
        font-size: 5rem;
    }

    .nosotros
    {
        margin-top: 1rem;
        height: fit-content;
    }

    .nosotros .row
    {
        flex-direction: row;
    }

    .nosotros h2
    {
        font-size: 2.5rem;
    }

    .nosotros p
    {
        font-size: 1.5rem;
    }

    .nosotros a img
    {
        width: 6rem;
        height: 6rem;
        margin-inline: 2rem;
    }

    #avatar img
    {
        min-width: 15vw;
        max-height: 40vh;
    }

    .copyright
    {
        font-size: 2rem;
    }
}

/* Estilos para tablets y algunos portátiles hasta 1280px*/

@media(min-width: 992px) and (max-width: 1280px)
{ 

    .navbar-mv
    {
        display: none !important;
    }
    .navbar-pc
    {
        display: block !important;
    }

    nav.navbar
    {
        margin-top: 1rem;
    }

    nav.navbar-pc ul
    {
        width: 80vw;
    }

    .banner h1
    {
        font-size: 5.5rem;
    }

    .banner h2
    {
        font-size: 2.5rem;
    }

    .products-title h1
    {
        font-size: 5rem;
    }
    
    .card-body
    {
        max-height: 55vh;
    }

    .nosotros
    {
        margin-top: 2.5rem;
    }

    .nosotros .row
    {
        align-content: center !important;
    }

    .nosotros .row div
    {
        min-width: 90vw;
    }

    .nosotros a img
    {
        width: 5rem;
        height: 5rem;
        margin-inline: 1rem;
    }

    #avatar img
    {
        min-width: 20vw;
        max-height: 45vh;
        margin-bottom: 4rem;
    }

    .copyright
    {
        font-size: 1.5rem;
    }

}
